<!DOCTYPE html>
<html lang="en">
<head>
<title> E-Bookpolis </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width", initial-scale="1">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/stylee.css">
</head>
<body>
    <div class="header">
        <center> <img src="/image/Bbook.jpg" width="965.5" height="180"> </center>
        </div> 
        
    
        <div class="navbar">
          <a href="/index.hbs" class = "active">Home</a>
          <a href="/books.hbs" class="active">Books</a>
          <a href="/contact.hbs">Contact us</a>
          <a href="/reviews.hbs">Review</a>
       </div>

        <div class="main"></div>
        <center>  <h1>Read Books From Here</h1></center>
      <div class ="b1">
       
        <div class="booksr1">
            <img src="richdad/richdad.jpg" alt="">
            <button onclick="window.open('/richdad/rich-dad-poor-dad.pdf','_blank')"> read</a></button>

        </div>
         <div class="booksr1">
            <img src="thealchemist/THE-ALCHEMIST-pdf-free-download.jpg" alt="">
            <button onclick="window.open('/thealchemist/THE-ALCHEMIST.pdf','_blank')"> read</a></button>
         </div>
          <div class="booksr1">
            <img src="midset/mindset.JPEG" alt="">
            <button onclick="window.open('/midset/Mindset-The-New-Psychology-of-Success.pdf','_blank')"> read</a></button>
          </div>
         
           <div class="booksr1">
            <img src="steve/steve.jpeg" alt="">
            <button onclick="window.open('/steve/stevejobs.pdf','_blank')"> read</a></button>
           </div>
            <div class="booksr1">
                <img src="theblue/The-Blue-Lotus-The-Adventures-of-Tintin-5-pdf-free-download.jpg" alt="">
                <button onclick="window.open('/theblue/The-Blue-Lotus-The-Adventures-of-Tintin-5-pdf-free-download.pdf','_blank')"> read</a></button>
                </div>
            </div>
            <div class="b2">
            <div class="booksr2">
                <img src="thebroken/The-Broken-Ear-The-Adventures-of-Tintin-6-pdf-free-download.jpg" alt="">
                <button onclick="window.open('/thebroken/The-Broken-Ear-The-Adventures-of-Tintin-6-pdf-free-download.pdf','_blank')"> read</a></button>
            </div>
            
            <div class="booksr2">
                <img src="career/image.png" alt="">
                <button onclick="window.open('/career/62f1257bcec9f-career-climber.pdf','_blank')"> read</a></button>
            </div>
            <div class="booksr2">
                <img src="nature/image.jpg" alt="">
                <button onclick="window.open('/nature/6473572337261-the-laws-of-human-nature.pdf','_blank')"> read</a></button>
            </div>
            <div class="booksr2">
                <img src="politics/image.jpg" alt="">
                <button onclick="window.open('/politics/643476e6ecb27-the-politics-of-the-environment.pdf','_blank')"> read</a></button>
            </div>
            <div class="booksr2">
                <img src="tech/image.jpg" alt="">
                <button onclick="window.open('tech/62f126759fa89-beacon-technologies.pdf','_blank')"> read</a></button>
            </div>
</div>
      <style>
        body{
 background-image: linear-gradient( bottom right ,red pink);

        }
        .b1,.b2{
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        
         
    .booksr1,.booksr2{
     background-color: greenyellow;
     width: 180px;
     height: 180px;
     margin :50px;
    }
    img{
        height: 180px;
        width: 180px;
    }
    
    button{
        width: 170px;
        height: 60px;
        border-radius: 44px;

    }
      </style>

        

        <div class="footer2">
          <h4 style="color:white;">Copyright@freebook.pvt</h4>
        </div>
</body>
</html>