<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> E-Bookpolis </title>
    <link rel="stylesheet" href="/stylee.css">
    <link rel="stylesheet" href="/style.css">
</head>
<div class="header">
    <center> <img src="image/Library-no-text-extra-contrast.svg" width="1350px" height="200px"> </center>
    </div> 
    
    <div class="navbar">
      <a href="index.hbs" class="active">Home</a>
      <a href="books.hbs">Books</a>
      <a href="contact.hbs">Contact us</a>
      <a href="reviews.hbs">Review</a>

      
    </div>
  



    <form action="/contact" method="POST">
        <div class="containerss">
          <h1><center>Contact Us</center></h1>
          
          <hr>
      
           <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter Full Name" name="fullname" id="name" required>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>

          <label for="Phone Number(optional)"><b>Phone Number(optional)</b></label>
          <input type="text" placeholder="Phone Number(optional)" name="phone" id="email" required>
      
          <label for="psw"><b>Message</b></label>
          <input type="text" placeholder="Enter Message" name="message" id="psw" required>
      
        <hr>
          <button type="submit ">Send</button>
        </div>










    <div class="footer">
        <h4 style="color:white;">Copyright@freebook.pvt</h4>
      </div>
<body>
    
</body>
</html>