<!DOCTYPE html>
<html lang="en">
<head>
<title> E-Bookpolis </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width", initial-scale="1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,800&family=Teko:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
<link rel="icon" type="image/x-icon" href="image/book-reader-svgrepo-com.svg">

</head>
<body>

<div class="header">
<center> <img src="/image/welcomee.jpg" width="100px" > </center>
</div>
<div class="navbar">
  {{>header}}
  <a href="/index.hbs" class="active">Home</a>
  <a href="/books.hbs">Books</a>
  <a href="/contact.hbs">Contact us</a>
  <a href="/reviews.hbs">Review</a>
  <div class="right">
    <button type="submit">Submit</button>
  <input type="text" placeholder="Search..">
 
  </div>
</div>

<div class="row">
  <div class="side">
    <h2>About Us</h2>
    <img src="/image/stackOfBooks2.svg" alt="" width="350">
    <!--<div class="fakeimg" style="height:200px;">Image</div> -->
    <p>Our motive is to provide Ebooks to everyone..</p>
    <h3>To provide knowledge..</h3>
    <img src="/image/books.jpg" width="350"><br>
    <img src="/image/library.jpg" width="350" height="210"><br>
    <img src="/image/classroom.jpg" width="350"><br>
   
  </div>
  <div class="main">
    <h2>HOW WE WORK..</h2>
    <h5>Get to know about us..</h5>
    <img src="/image/hi.jpg" width="900" height="300">
    <p>When we look at the corners of the world today, we can see children attending classes, 
      learning, and progressing. However, in some countries education is not free, 
      which can lead to kids being kept out of school. According to UNICEF,
       families in many countries in the rest of the world that lack good access to 
       schooling struggle to pay fees to send their kids to school.
       When we look at the corners of the world today, we can see children attending classes, 
       learning, and progressing. However, in some countries education is not free, 
       which can lead to kids being kept out of school. According to UNICEF,
        families in many countries in the rest of the world that lack good access to 
        schooling struggle to pay fees to send their kids to school.When we look at the corners of the world today, we can see children attending classes, 
        learning, and progressing. However, in some countries education is not free, 
        which can lead to kids being kept out of school. According to UNICEF,
         families in many countries in the rest of the world that lack good access to 
         schooling struggle to pay fees to send their kids to school.</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>OUR MOTIVE..</h2>
    <h5>Get to know about our goal...</h5>
    <img src="image/free books.jpg" width="900" height="300">
    <p>Free Books For All..</p>
    <p>Did you know that Google Books has more than 10 million free books available for users to read and download? And we're adding more all of the time!

      Google's free books are made available to read through careful consideration of and
       respect for copyright law globally: they are public-domain works, made free on request
        of the copyright owner, 
      or copyright-free, e.g. US government documents.</p>
  </div>
</div>

<div class="footer">
  <h4 style="color:white;">Copyright@freebook.pvt</h4>
</div>

</body>
</html>
