<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>E-Bookpolis</title>
</head>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="stylee.css">
<body>
    <div class="header">
        <center> <img src="image/reviewss.png" width="300px" > </center>
        </div> 
        
        <div class="navbar">
          <a href="/index.hbs" class="active">Home</a>
          <a href="/books.hbs">Books</a>
          <a href="/contact.hbs">Contact us</a>
          <a href="/reviews.hbs">Review</a>
          
        </div>
      
    
    
    
        <form action="/reviews" method="POST">
            <div class="containerss">
              <h1><center>Review</center></h1>
              
              <hr>
          
               <label for="name"><b>Name</b></label>
              <input type="text" placeholder="Enter Full Name" name="fullname" id="name" required>
          
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>
          
              <label for="msg"><b>Comment</b></label>
              <input type="text" placeholder="Enter Comment" name="comment" id="com" required>

              <br>

          
            <hr>

              <button>Send</button>
            </div>
    
    
    
    
    
    
    
    
    
    
        <div class="footer2">
            <h4 style="color:white;">Copyright@freebook.pvt</h4>
          </div>
</body>
</html>